body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}

header {
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

.link-studio,
.link-portfolio,
.link-contacts {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 2%;
}

.link-studio:hover,
.link-studio:focus,
.link-portfolio:hover,
.link-portfolio:focus,
.link-contacts:hover,
.link-contacts:focus {
    color: #4D5AE5;
}

.link-mail,
.link-telephone {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    font-family: inherit;
    font-size: 24px;
    line-height: 1.5;
    font-weight: medium;
    letter-spacing: 2%;
}

.link-mail:hover,
.link-mail:focus {
    color: #4D5AE5;
}

.link-telephone:hover,
.link-telephone:focus {
    color: #4D5AE5;
}